@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.h1 {
    background-color: purple;
    color: antiquewhite;
    font-size: 3em;
    border-radius: 15px;
    padding: 0.5em;
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
}